<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="head-line">my  books app</h1>
    <div style="display: flex; justify-content: flex-end; flex: 1 1 auto;"> 
    <button mat-raised-button class="nav-side" (click)= "toBooks()">
        Books
    </button>  
    <button mat-raised-button class="nav-side" (click)= "toRegister()">
      Register
    </button>   
    <button mat-raised-button class="nav-side" *ngIf ="!(authService.user |async)" (click)= "toLogin()">
        Login
    </button>   

  <button mat-raised-button class="nav-side" *ngIf ="authService.user |async"  (click)= "logout()">Logout</button>

    <!-- <button mat-raised-button class="nav-side" *ngIf ="authService.user |async" (click)="toWelcom()">
        Welcome 
    </button> -->
  </div>
  </mat-toolbar-row>
</mat-toolbar>
