<mat-card class="example-card">
        <div  *ngIf="!(authService.user | async)"> 
                 <h1> You can not see this page!</h1>
                        <h3 style="text-align: center">Please  <a routerLink = "/register">register</a> or <a routerLink = "/login">login</a> to manage yor reding list

                        </h3>
        </div>
        <div *ngIf = "(authService.user | async)"> 
 
      <mat-card-header >
          <div mat-card-avatar class="example-header-image"></div>
          <img class="image" mat-card-image src="./assets/gif/HoUt.gif" alt="welcom gif"> 
      </mat-card-header>
      <div >
          <mat-card-subtitle class="subtitle" *ngIf = "(authService.user | async)">
                welcom {{nickname}},
              <br>
              we glad you joined us!
          </mat-card-subtitle>    
      </div>
      <mat-card-content>
        <mat-card-subtitle class="sub">
                Add new book  :
        </mat-card-subtitle>
        <mat-form-field class="example-container">
            <input  [(ngModel)] = "name" name = "name" matInput placeholder="Add your new book ">
        </mat-form-field>
        
        <mat-form-field class="example-container">
                <input  [(ngModel)] = "author" name = "author" matInput placeholder="Add the author ">
            </mat-form-field>
            <mat-card-actions class="todo-button">
                <button  mat-stroked-button color="primary" (click)="addBook()">Add Book</button>
            </mat-card-actions>   
        
    </mat-card-content>

                <mat-card-subtitle class="sub2">
                        Your current books :
                </mat-card-subtitle>
                <book *ngFor = "let book of books"
                        [data] = "book">
                 </book>
                <div *ngIf = "books.length==0" 
                        class="text"  >
                                {{itemTextFromTodo}}
                </div>
                <br>
                <br>
                <div >
                        <h4 class="explain-card"> 
                                Explanation about the icon:
                        </h4> 
                        <p class="explain-card" style="margin-left: 50px;">
                                <mat-icon>done</mat-icon>  
                                <span>Save changes</span>
                                <br>
                                <mat-icon>close</mat-icon>  
                                <span>Cancel changes</span>
                                
                        </p>
                </div>
        </div>
        </mat-card>
