
.example-card {
    max-width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:35px;
    margin-left: 30%; 
  }
  .image{
    size: 1px;
    width: 300px;
    display: flex;
    margin: 0%;
     
  }
  .subtitle{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: navy;
    margin-left: 5%;
    text-align: center;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 5%;
  }
  .todo-button{
    display: inline;
    margin-left: 75%;
  }
  .sub{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: lightseagreen;
  margin-left: 5%;
  text-align: left;
  }
  .sub2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: lightseagreen;
  margin-left: 100px;
  text-align: left;
  }
  
  .text{
  font-weight: bold; 
  text-align: center; 
  margin-right: 150px;
  }
  .explain-card{
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  text-align: left; 
  
  }
  
  .mat-icon-button {
  padding: 0;
  min-width: 0;
  flex-shrink: 0;
  }
  .mat-option-text {
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  