
<div  class="checkbox" (mouseenter)='showButton()'
                        (mouseleave)='hideButton()'>
    <mat-checkbox [(ngModel)]="read"
                    (change) = "checkChange()">        
    </mat-checkbox >
    <span *ngIf = "!showEditField" class="todo"
                    (click)= "showEdit()">
                    {{name}} 
    </span> 
    <span  class="todo"
            *ngIf = 'showTheField&&!showEditField'
         (click)= "showEdit()">
        {{author}} 
    </span>
    
  
      <mat-form-field *ngIf = "showEditField" >
                    <input [(ngModel)]= "name"  matInput >
    </mat-form-field>
            <button mat-icon-button class="icon">
                <mat-icon (click) = "saveName()" *ngIf = "showEditField"  >done</mat-icon>
              </button>
              <button mat-icon-button class="icon">
                <mat-icon (click) = "cancel()" *ngIf = "showEditField" >close</mat-icon>
              </button>
              
            <br>
            <mat-form-field *ngIf = "showEditField">
                <input [(ngModel)]= "author"  matInput >
        </mat-form-field>
          <button mat-icon-button class="icon">
            <mat-icon (click) = "saveAuthor()" *ngIf = "showEditField"  >done</mat-icon>
          </button>
          <button mat-icon-button class="icon">
            <mat-icon (click) = "cancel()" *ngIf = "showEditField" >close</mat-icon>
          </button>
          
 </div>  
    
    